<div class='bi'>
  <div class= 'login-div'>
    <div class='login-box'>
      <div class='login-link'>
        <%= image_tag 'bookart-logo', width:200, class:"logo" %>
        <br />
        <p class='tags'><%= link_to "Log In", new_session_path, class: "button" %></p>
        <p class='tags'><%= link_to 'Sign Up', new_user_path, class: "button" %></p>
      </div>
     </div>
  </div>
</div>


