<div class="promo-wrapper">
       <section class="promo">
           <div class='home-buttons'>
           <h2>Edit Profile</h2>
           <%= link_to 'Back', @book %> 
           <hr />
          <%= render 'form', book: @book %>
           
       </section>
        </div>
</div>

