// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height:25rem;
    background-color: burlywood;
    border-radius: 50%;
    margin-top:6rem;
}
